<ion-view view-title="Lista de categorías">
  <ion-nav-buttons side="secondary">
        <button class="button icon ion-plus-round" ng-click="go('/app/add_category')"></button>
  </ion-nav-buttons>  
  <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="data.searchQuery">
        </label>
      </div>
        <!-- Inicia lista de categorias -->
        <ion-list>
            <ion-item class="item" ng-repeat="category in categories | filter: data.searchQuery" href="#/app/category/{{category.category_id}}">
                {{category.category_name | uppercase}}
                <p>{{category.category_description | uppercase}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
