<ion-view view-title="Lista de categorías">
  <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="data.searchQuery">
        </label>
      </div>
        <!-- Inicia lista de productos -->
        <ion-list>
            <ion-item class="item" ng-repeat="product in products | filter: data.searchQuery" href="#/app/products/{{product.product_id}}">
                {{product.product_name | uppercase}}
                <p>{{product.category_name | uppercase}} [ {{product.product_key | uppercase}} ]</p>
                <span class="item-note">
                    {{product.product_price_1 | currency}} {{product.unit_name}}
                </span>
            </ion-item>
        </ion-list>
        
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <button class="button button-clear pull-right">Agregar</button>
    </div>
</ion-view>
