<ion-view view-title="Lista de clientes">
  <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="data.searchQuery">
        </label>
      </div>
        <!-- Inicia lista de productos -->
        <ion-list>
            <ion-item class="item" ng-repeat="customer in customers | filter: data.searchQuery" href="#/app/customers/{{customer.customer_id}}">
                {{customer.customer_name | uppercase}}
                <p>{{customer.customer_address_1 | uppercase}}, {{customer.customer_address_2 | uppercase}} {{customer.customer_postalcode | uppercase}}</p>
            </ion-item>
        </ion-list>
        
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <button class="button button-clear pull-right">Agregar</button>
    </div>
</ion-view>