<ion-view view-title="Datos del cliente">
  <ion-nav-buttons side="secondary">
        <button class="button icon ion-edit" ng-click="go('/app/edit_customer/'+customer.customer_id)"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
            <img src="img/user.png">
            <h2>{{customer.customer_name | uppercase}}</h2>
            <p>{{customer.customer_email | lowercase}}</p>
        </div>
        <div class="item item-body">
            <p>{{customer.customer_address_1}}, {{customer.customer_address_2}}</p>
            <p>{{customer.customer_postalcode}}</p>
        </div>
    </div> 
  </ion-content>
</ion-view>