<ion-view cache-view="false" view-title="Editar cliente">
    <ion-content>
      <form ng-submit="doSubmit()">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Nombre completo</span>
                <input type="text" placeholder="Nombre" ng-model="customer.customer_name" required>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Dirección</span>
                <input type="text" placeholder="Dirección" ng-model="customer.customer_address_1">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Colonia</span>
                <input type="text" placeholder="Colonia" ng-model="customer.customer_address_2">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Código postal</span>
                <input type="number" placeholder="Código postal" ng-model="customer.customer_postalcode">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Correo electrónico</span>
                <input type="email" placeholder="Correo electrónico" ng-model="customer.customer_email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Teléfono</span>
                <input type="tel" placeholder="Teléfono" ng-model="customer.customer_phone">
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Guardar</button>
            </label>
        </div>
      </form>
    </ion-content>
</ion-view>