<ion-view view-title="Datos de la nota">
  <ion-content>
    <div class="list card">
        <div class="item item-thumbnail-left">
            <img src="img/favicon.png">
            <h2 class="positive">{{invoice.invoice_id}}</h2>
            <p> {{invoice.invoice_timestamp | date:'medium'}}</p>
            <p>{{invoice.customer_name}}</p>
            <p>{{invoice.status_id}}</p>
        </div>
        <!-- Inicia lista de productos -->
            <div class="list">
                <div class="item" ng-repeat="detail in details" href="#/app/invoices/{{invoice.invoice_id}}">
                    <h2 class="positive">{{detail.product_name}}</h2>
                    <p> {{detail.product_price | currency}} * {{detail.product_qty}} {{detail.unit_name}}</p>
                    <span class="item-note">
                        {{detail.product_price * detail.product_qty | currency}}
                    </span>
                </div>
            </div>
        <div class="item item-divider">
           Total {{details | total | currency}}
        </div> 
    </div> 
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-positive pull-right" ng-click="openModal(invoice)">Editar</button>
  </div>
</ion-view>