<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item class="item item-avatar item-calm" menu-close ng-click="login()">
            <img src="img/user.png">
            <h2>jctovar@gmail.com</h2>
            <p>Back off, man. I'm a scientist.</p>
        </ion-item>
        <ion-item menu-close href="#/app/note">
            <i class="icon ion-compose"></i>
            Crear nota
        </ion-item>
        <ion-item menu-close href="#/app/invoices">
            <i class="icon ion-folder"></i>
            Notas
        </ion-item>
        <ion-item menu-close href="#/app/products">
            <i class="icon ion-cube"></i>
            Productos
        </ion-item>
        <ion-item menu-close href="#/app/customers">
            <i class="icon ion-person"></i>
            Clientes
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
