<ion-view view-title="Editar producto">
    <ion-content>
      <form ng-submit="doSubmit()">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Nombre del producto</span>
                <input type="text" placeholder="Nombre del producto" ng-model="product.product_name" required>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Descripción</span>
                <input type="text" placeholder="Descripción" ng-model="product.product_description">
            </label>
             <label class="item item-input item-select">
                <div class="input-label">
                Categoría
                </div>
                <select ng-model="product.category_id" ng-options="category.category_id as category.category_name for category in categories">
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Código</span>
                <input type="text" placeholder="Código" ng-model="product.product_key">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Precio maximo</span>
                <input type="number" placeholder="Precio maximo" ng-model="product.product_price_1">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Precio minimo</span>
                <input type="number" placeholder="Precio minimo" ng-model="product.product_price_2">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                Unidad
                </div>
                <select ng-model="product.category_id" ng-options="category.category_id as category.category_name for category in categories">
                </select>
            </label>
            <label>
                <ion-toggle ng-model="product.product_tare_id" toggle-class="toggle-calm">Causa tara de peso</ion-toggle>
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Guardar</button>
            </label>
        </div>
      </form>
    </ion-content>
</ion-view>