<ion-view view-title="Datos del producto">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
            <img src="img/user.png">
            <h2>{{product.product_name | uppercase}}</h2>
            <p>{{product.category_name}}</p>
        </div>
        <div class="item item-body">
            <p>{{product.product_description | uppercase}}
            <p>{{product.product_price_1 | currency}} {{product.unit_name}}</p>
            <p>
                <a href="#" class="subdued"><i class="icon ion-folder"></i> Cotizaciones</a>
            </p>
        </div>
    </div> 
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-positive pull-right" ng-click="openModal(product)">Editar</button>
  </div>
</ion-view>