<ion-view view-title="Lista de productos">
  <ion-nav-buttons side="secondary">
        <button class="button icon ion-plus-round" ng-click="go('/app/add_product')"></button>
  </ion-nav-buttons>
  <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="data.searchQuery">
        </label>
      </div>
        <!-- Inicia lista de productos -->
        <ion-list can-swipe="listCanSwipe">
            <ion-item class="item" ng-repeat="product in products | filter: data.searchQuery" href="#/app/product/{{product.category_id}}/{{product.product_id}}">
                {{product.product_name | uppercase}}
                <p>{{product.category_name | uppercase}} [ {{product.product_key | uppercase}} ]</p>
                <span class="item-note">
                    {{product.product_price_1 | currency}} {{product.unit_name}}
                </span>
                <ion-option-button class="button-assertive" ng-click="deleteItem($index)">
                    Eliminar
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>